.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-complete{
  color:#27cd32;
}

.button-edit{
  color:#c5b208;
  margin-right: 10px;
}
.button-delete{
  color:rgb(230, 32, 32);
  margin-right: 10px;

}


.button-save{
  color:rgb(32, 134, 230);
}

.brand{
  color:white;
}

body {
  background-image: url('https://htmlcolors.com/gradients-images/53-light-purple-gradient.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional, for a fixed background */
  /* Other CSS styles */
}


